/* shared style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}

.text-primary {
  color: #ffffff;
}

.text-green {
  color: #00ff88;
}
.text-grey {
  /* color: rgb(209, 206, 213); */
  color: rgb(124, 123, 124);

}

/* .bg-color {
  background-color: #1A0B2E;
  background-color: rgb(26, 15, 57);
} */

body {
  background-color: #1A0B2E;
}

.btn-primary {
  background: linear-gradient(
    105deg,
    #f9f047 0%,
    #0fd850 0%,
    #f9f047 0%,
    #f2368c 50%,
    #8a2be2 100%
  );
  font-size: 1rem;
  font-weight: 600;
  padding: 13px 16px;
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

 .sections-title{
    font-size: 3rem;
 }

 .sections-para{
    font-size: 1rem;
    padding-top: 16px;
 }







/* header */
header{
    border-bottom: 1px solid rgb(41, 41, 41);
}

.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0px 24px 0px;
  
}
.nav-bar {
  justify-content: space-between;
  align-items: center; 
}

.brand {
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
}

.brand span {
  background: linear-gradient(to right, #fb8c65 0%, #ff2995 50%, #a426fd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.nav-links li {
  list-style-type: none;
  margin-right: 32px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.fa-solid {
  margin-left: 4px;
}
.hamburger{
    display: none;
}






/* banner */
.banner{
    /* border: 1px solid white; */
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 0px -92px;
    /* background-position: 50% 50%; */

}

.banner-img{
    /* border: 2px solid white; */
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-image: url(../assets/hero-circle.png);
    background-size: cover;
    border: none;
    margin: 0 auto;
    /* border: 2px solid white; */
    box-shadow:  0 0 111px -43px rgba(255, 255, 255, 0.9);
}

.circle{
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    height: 100%;
    position: relative;
    
}


.circle .badge{
    position: absolute;
    font-size: 1.12rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 25px;
    border: none;
    background-color: #00ff88;
    top: 0.75rem;
    right: 1rem;
    box-shadow: 0 0 83px rgba(255, 255, 255, 0.9);
}



/* banner */

.banner-content{
    max-width: 600px;
    margin: 0 auto;
    /* border: 2px solid white; */
    text-align: center;
    margin-top: 40px;
}

.banner-content h2{
    font-size: 5rem;
    font-weight: 800;
}
.banner-content p{
    font-size: 1rem;
    margin-bottom: 24px;
}

.banner-btn{
    justify-content: center;
    gap: 12px;
    /* border: 2px solid white; */
}
 .spotify{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8px;
    border: 2px solid red;
    letter-spacing: 1px;
 }

 .message{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8px;
    border: 2px solid red;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    background-color: transparent;
    border: 2px solid #00ff88;
    border-radius: 25px;
    letter-spacing: 1px;
 }


 /* about section */

 .about{
    max-width: 1200px;
    /* border: 2px solid rgb(211, 35, 35); */
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #1A0B2E;
 }
 .about-content{
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(41, 41, 41);

    
 }

.about-card-container{
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 80px;
 }

 .about-card{
    /* border: 2px solid rgb(60, 250, 30); */
    text-align: center;
 }

 .about-card span:nth-child(1){
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    
 }
 .about-card span:nth-child(3){
    text-transform: uppercase;
    
 }

 .about-card .fa-star{
    font-size: 27px;
    
 }





 






/* responsive for small device */

@media screen and (max-width: 576px) {
    .nav-bar{
        max-width: 440px;
        margin: 0px auto;
    }
    .nav-links{
        display: none;
    }
    .nav-bar .btn-primary{
        display: none;
    }
    .hamburger{
        display: block;
    }

    .banner-img{
        height: 200px;
        width: 200px;
    }
    .banner-img .circle img{
        width: 25%;
    }

    .banner{
        border: 1px solid white;
        background-image: url(../assets/hero-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
        background-position: 0px -92px;
        /* background-position: 50% 50%; */

    }

    .banner-content{
        max-width: 450px;
    }
    .banner-content h2{
        font-size: 2.5rem;
    }

    .circle .badge{
        top: 1.75px;
        right: -14px;
    }


    .about{
        padding: 40px 20px;
    }

    .about-card-container{
        /* border: 2px solid white; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-top: 40px;
    }
    .about-content{
        padding-bottom: 40px;
    }
    .about-content .sections-title{
        font-size: 2rem;
    }
}
